.select {
  width: 100%;
  position: relative;

  &.active &__body {
    display: block;
  }

  &__header {
    cursor: pointer;
    display: flex;
  }

  &__current {
    font-size: 20px;
    line-height: 34px;
    padding: 8px;
  }

  &__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 40px;
    margin-left: auto;
    text-align: center;
    width: 40px;
  }

  &__body {
    border-top: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-top: 1px solid #48a5ea;
  }

  &__item {
    cursor: pointer;
    font-size: 20px;
    line-height: 34px;
    padding: 8px;
    border-bottom: 1px solid #d8d8d8;

    &:hover {
      color: #48a5ea;
    }
  }
}