.form {
  background-color: #fff;
  height: 600px;
  max-width: 840px;
  padding: 40px;
  box-sizing: border-box;

  &__title {
    font-size: 24px;
    color: #48a5ea;
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 36px;
    margin-bottom: 10px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &_two {
      width: calc(50% - 18px);
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  width: calc(50% - 18px);
}

.btn {

  &_blue div {
    background-color: #48a5ea;
    color: #fff;
    border: 1px solid #48a5ea;
    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: #48a5ea;
    }
  }

  &_white div {
    background-color: #fff;
    color: #a0a0a0;
    border: 1px solid transparent;
    &:hover {
      cursor: pointer;
      background-color: #a0a0a0;
      color: #fff;
    }
  }
}