.form-item{
  border-bottom: 1px solid #d8d8d8;
  width: calc(50% - 18px);
  margin-top: 26px;
  
  &__title{
    color: #b6b6b6;
    font-size: 14px;
    height: 20px;
    &.active{
      color: #48a5ea;
    }
  }
  &.active{
  border-bottom: 1px solid #48a5ea;
  }
}