.formControl {
  margin-bottom: -20px;
  & input {
    font-size: 20px;
    border: 0;
    padding: 12px 0;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
  }

  & .errorMessage {
    font-size: 14px;
    height: 20px;
  }

  &.error {
    & input {
      border-bottom: 1px solid red;
    }

    & .errorMessage {
      color: red;
    }
  }
  &.active{
    & input {
      border-bottom: 1px solid #48a5ea;
    }
  }
}